<template>
  <div class="home container">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <h1>AmandaApp</h1>
    <br>
    <Quiz />
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Quiz from "@/components/Quiz.vue";

export default {
  name: "home",
  components: {
    Quiz
    //   HelloWorld
  }
};
</script>
