<template>
    <div class="quiz">
        <form>
            <label for="cigarettes">How many cigarettes have you smoked today?</label>
            <input type="number" name="cigarettes" id="cig" class="form-control form-control-lg">
            <label for="ecigarettes">How many e-cigarettes have you vaped today?</label>
            <input type="number" name="ecigarettes" id="cig" class="form-control form-control-lg">
            <!-- <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<style lang="stylus">
.quiz {
    font-size: 110%;
    text-align: center;

    label {
        display: inline;
        font-weight: bold;
    }

    input {
        margin: 1em 1em 1em 1em;
        // max-width: 80%;
        // padding: 1em 1em 1em 1em;
    }

    @media(max-width: 576px) {
        input {
            max-width: 80%;
        }
    }
}
</style>
